<!DOCTYPE html>
<html>
<head>
  <title>CSS Margins</title>
  <style>
    div {
      background-color: lightgreen;
      width: 200px;
      margin: 10px 20px 10px 40px; 
      padding: 10px;
      border: 2px solid black;
    }
    body {
      background-color: lightcyan;
    }
  </style>
</head>
<body>
  <div>
    margin:<br>
    10px 20px 10px 40px;
  </div>
</body>
</html>